<head>
   <title>Free Account Generator Script</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="description" content="Free Account Generator Script is the most advanced free account generator that free accounts for services such as Hulu, Crunchyroll, DisneyPlus, NordVPN, Encrypt.me, and more.">
   <meta name="keywords" content="Free Account Generator Script, saud generator, sgen, saudgenerator, free, alt, account, gen, generator, hulu, crunchyroll, disneyplus, disney+, nordvpn, encrypt.me">
   <meta name="title" content="Free Account Generator Script - The best and most advanced free accounts generator.">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="Free Account Generator Script - The best and most advanced free accounts generator.">
   <meta name="twitter:description" content="Free Account Generator Script is the most advanced free account generator that free accounts for services such as Hulu, Crunchyroll, DisneyPlus, NordVPN, Encrypt.me, and more.">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" />
   <style>
      .btn-primary {
      color: #fff;
      background-color: #ed9521;
      border-color: #ffbc63;
      }
      .btn-primary:hover {
      background-color: #fa584c;
      border-color: rgb(238, 83, 72);
      }
      .btn-primary.focus,
      .btn-primary:focus {
      color: #fff;
      background-color: #fc5e52;
      border-color: #ff9100;
      box-shadow: 0 0 0 .2rem rgba(250, 67, 67, 0.603)
      }
      .btn-primary:not(:disabled):not(.disabled).active,
      .btn-primary:not(:disabled):not(.disabled):active,
      .show>.btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #fc5e52;
      border-color: #ff9100
      }
      .btn-primary:not(:disabled):not(.disabled).active:focus,
      .btn-primary:not(:disabled):not(.disabled):active:focus,
      .show>.btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 .2rem rgba(250, 67, 67, 0.603)
      }
   </style>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="795f2498e55d546e59f853f5-text/javascript"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" type="795f2498e55d546e59f853f5-text/javascript"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>
</head>
<script src="https://hcaptcha.com/1/api.js" async defer type="795f2498e55d546e59f853f5-text/javascript"></script>
<body>
   <div class="container" style="margin-top: 200px;">
      <div class="text-center d-flex align-items-center flex-column vh-100">
         <div style="width:100%;max-width:468px">
            <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="795f2498e55d546e59f853f5-|49"></script><iframe src="https://viewm.moonicorn.network/#%7B%22options%22%3A%7B%22publisherAddr%22%3A%220xF7036FC790f2A1D73F849D30eA6100Bd1D9d4C1d%22%2C%22whitelistedTokens%22%3A%5B%220x6B175474E89094C44Da98b954EedeAC495271d0F%22%5D%2C%22whitelistedType%22%3A%22legacy_468x60%22%2C%22randomize%22%3Atrue%2C%22targeting%22%3A%5B%5D%2C%22width%22%3A%22468%22%2C%22height%22%3A%2260%22%2C%22minPerImpression%22%3A%220%22%2C%22fallbackUnit%22%3Anull%2C%22marketSlot%22%3A%22Qma8sR9441Yhejz8g57AP3JSmP9yQvX4ise5fdVWC53sCx%22%7D%7D" style="width:100%;max-width:468px" height="60" scrolling="no" frameborder="0" style="border: 0;" onload="window.addEventListener('message', function(ev) { if (ev.data.hasOwnProperty('adexHeight') && ('https://viewm.moonicorn.network' === ev.origin)) { for (let f of document.getElementsByTagName('iframe')) { if (f.contentWindow === ev.source) { f.height = ev.data.adexHeight; } } } }, false)"></iframe> 
            <form id="generate" class="mt-2" action="/generate" method="POST">
               <select name="type" class="form-control mb-2">
                  <option value="hulu">Hulu</option>
                  <option value="nordvpn">NordVPN</option>
               </select>
               <button class="btn btn-primary w-100 h-captcha" data-sitekey="4751b1f1-5b05-42dd-847f-096ca30e49e1" data-callback="generate">Generate</button>
            </form>
            <div class="mb-3">
               <a href="javascript:;" data-toggle="modal" data-target="#qna">QnA</a> &bullet;
               <a href="https://fastuptime.com/discord" target="_blank">Discord</a> &bullet;
               <a href="javascript:;" data-toggle="modal" data-target="#tos">Terms of Service</a> &bullet;
               <a href="javascript:;" data-toggle="modal" data-target="#privacy">Privacy Policy</a>
            </div>
            <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="795f2498e55d546e59f853f5-|49"></script><iframe src="https://viewm.moonicorn.network/#%7B%22options%22%3A%7B%22publisherAddr%22%3A%220xF7036FC790f2A1D73F849D30eA6100Bd1D9d4C1d%22%2C%22whitelistedTokens%22%3A%5B%220x6B175474E89094C44Da98b954EedeAC495271d0F%22%5D%2C%22whitelistedType%22%3A%22legacy_468x60%22%2C%22randomize%22%3Atrue%2C%22targeting%22%3A%5B%5D%2C%22width%22%3A%22468%22%2C%22height%22%3A%2260%22%2C%22minPerImpression%22%3A%220%22%2C%22fallbackUnit%22%3Anull%2C%22marketSlot%22%3A%22Qma8sR9441Yhejz8g57AP3JSmP9yQvX4ise5fdVWC53sCx%22%7D%7D" style="width:100%;max-width:468px" height="60" scrolling="no" frameborder="0" style="border: 0;" onload="window.addEventListener('message', function(ev) { if (ev.data.hasOwnProperty('adexHeight') && ('https://viewm.moonicorn.network' === ev.origin)) { for (let f of document.getElementsByTagName('iframe')) { if (f.contentWindow === ev.source) { f.height = ev.data.adexHeight; } } } }, false)"></iframe> 
         </div>
      </div>
   </div>
   <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="795f2498e55d546e59f853f5-|49" defer=""></script><script type="text/javascript">(function(){window['__CF$cv$params']={r:'66684d903db9fcad',m:'4bdc3093c5af78b75a00b173850566f6a0833001-1624897861-1800-Aapu4CYJC5+BDmtMmf9AJ8d5WTsaSCAJ7KYBCwsQ94bj9LpJQqrKR3UgbtYWpr7q0OgMwgiNd4T8eLU/PwCqhhqZT9KNULanRJUyPGG47C3V+u7km4J8dadRuNwzJQMPlA==',s:[0x80dba59016,0x6e72d762b4],}})();</script>
</body>
<div class="modal fade" id="qna" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Questions and Answers</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p><b>What is SaudGen?</b><br>A free account generator.</p>
            <p><b>Is this legal?</b><br>Yes, read our <a href="javascript:;" data-dismiss="modal" data-toggle="modal" data-target="#tos">Terms of Service</a> for more information.</p>
            <p><b>How do I use SaudGen?</b><br>Choose the account type in the list and click generate, then follow the
               steps.
            </p>
            <p><b>Why do you use ads?</b><br>We need ads to get money and keep SaudGen free and running.</p>
            <p><b>What do you do with the money you earn?</b><br>We reinvest all of it to improve our service.</p>
            <p><b>How can I contact you?</b><br>Join our <a href="https://fastuptime.com/discord" target="_blank">Discord</a>.</p>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="tos" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Terms of Service</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p><b>We reserve the right to change the Terms of Service and Privacy Policy at any time without
               notice.</b>
            </p>
            <p>We are <b>not</b> associated with Hulu(.com), Crunchyroll(.com), DisneyPlus(.com), NordVPN(.com) or
               Encrypt(.me) and we are not
               representing them.
            </p>
            <p>
               The phrase "service" represents the website and the services offered there.<br>
               The phrase "you" represents the user which is using the service.<br>
               The phrases "we" and "our" represent the team of H-Gen.<br>
            </p>
            <ul>
               <li>You are not allowed to spam/abuse any functions of our service.</li>
               <li>You are not allowed to share or sell the accounts.</li>
               <li>You are not allowed to use tools to skip the shortlinks.</li>
               <li>You are only allowed to get one account every five minutes.</li>
               <li>You are not allowed to use adblockers.</li>
            </ul>
            <p>
               We are not legally responsible for actions, which you did or will do with the provided accounts.<br>
               We are not held responsible for any misuse of our service.
            </p>
            <p>
               The Service is following completely legal methods, users can get free accounts for testing which are
               provided by the service owners.
            </p>
            <p>
               All accounts of our service are free to use and legally bought from resellers or given to us by
               users.
            </p>
            </p>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Privacy Policy</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p><b>We collect as little information as possible from our users.</b></p>
            <p>The only information we collect are your ip address everytime you use our service to prevent abuse.
               All traces are removed after 30 minutes or less.
            </p>
            <p>We may place a cookie on you that we use to prevent abuse and make your experience with us better.
               All traces are removed after 30 days or less.
            </p>
            <p><b>3rd parties</b></p>
            <p>
               Cloudflare: <a href="https://www.cloudflare.com/privacypolicy" target="_blank">Click here to see their Privacy Policy</a>.<br>
               Adex: <a href="https://www.adex.network/tos" target="_blank">Click here to see their Privacy Policy</a>.<br>
               Hcaptcha: <a href="https://www.hcaptcha.com/privacy" target="_blank">Click here to see their Privacy Policy</a>.<br>
               Linkvertise: <a href="https://linkvertise.com" target="_blank">Click here to see their Privacy Policy</a>.
            </p>
            <p><b>Above 3rd parties are the only ones that are required for our service to work. We may link to
               other 3rd parties but in that case you need to find their Privacy Policy by yourself.</b>
            </p>
         </div>
      </div>
   </div>
</div>
<script>
   function generate() {
       $("#generate").submit();
   }
</script>

<!--
    Site: https://codepen.io/jelen30/pen/BaRaWqN
-->